.main-hero {
  background-image: url("../../public/images/emailData2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 85px;
    left: 0;
    bottom: -1px;
    z-index: 5;
    background-image: url("../../public/images/overlay-bottom.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .hero-image::before {
    content: "";
    z-index: -1;
    background: linear-gradient(#fff 0%, #d7e1d8 100%);
    width: 400px;
    height: 400px;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
  }
}

footer {
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 85px;
    left: 0;
    top: -1px;
    z-index: 5;
    background-image: url("../../public/images/overlay-bottom.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
  }
}

.dark {
  .main-hero {
    background-image: unset;

    &::before {
      background-image: unset;
    }
  }

  footer {
    &::before {
      background-image: unset;
    }
  }
}
