:root {
  --app-primary-color: #589aed;
  --app-secondary-color: #141494;
}

/* 🌐 Professional Thin Smooth Scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Slim vertical scrollbar */
  height: 4px; /* Slim horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    var(--app-primary-color),
    var(--app-secondary-color)
  );
  border-radius: 8px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    var(--app-secondary-color),
    var(--app-primary-color)
  );
  transform: scaleX(1.1);
}

/* Optional: subtle fade-in effect when scrolling */
html, * {
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--app-primary-color) transparent;
  scroll-behavior: smooth;
}

.hero-banner {
  background-image: url("../../public/images/emailData2.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.main-hero {
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 50px;
      left: 0;
      bottom: -1px;
      z-index: 5;
      background-image: url("../../public/images/overlay-bottom.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom;
      background-repeat: repeat-x;
    }
  }

  .hero-image::before {
    content: "";
    z-index: -1;
    background: linear-gradient(#fff 0%, #d7e1d8 100%);
    width: 400px;
    height: 400px;
    bottom: -40px;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
    z-index: 1;
    border-radius: 50%;
  }
}

footer {
  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 50px;
    left: 0;
    top: -1px;
    z-index: 5;
    background-image: url("../../public/images/overlay-bottom.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-repeat: repeat-x;
  }
}

.dark {
  .hero-banner {
    background-image: unset;

    &::before {
      background-image: url("../../public/images/overlay-bottom-dark.png");
    }
  }

  footer {
    &::before {
      background-image: url("../../public/images/overlay-bottom-dark.png");
    }
  }
}

.app-primary-color {
  color: var(--app-primary-color);
}

.app-secondary-color {
  color: var(--app-secondary-color);
}
